# gemini-3-flash-preview / gemini-2.5-pro / gemini-2.5-flash / emini-2.5-flash-preview-09-2025 / gemini-2.5-flash-lite
GEMINI_AI_MODEL=
GEMINI_API_KEY=
GROQ_API_KEY=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
HACKCLUB_AI_API_KEY=

# Optional Text-to-Speech (TTS) Providers for Audio API
# Option 1: ElevenLabs (High Quality, Low Latency)
ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=cgSgspJ2msm6clMCkdW9 # Optional, defaults to this voice

# Option 2: OpenAI TTS (Cost effective, Great Quality)
OPENAI_API_KEY=
